body {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
}

h1 {
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 2; /* Aumentar o z-index para garantir que esteja acima do fundo */
}

.voltar-principal{
    display: flex;
    flex-direction: column;
    gap: .5em;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 1em;
    z-index: 2; /* Aumentar o z-index para garantir que esteja acima do fundo */
    color: #fff;
    width: auto;
}

.voltar-principal button{
    background-color: #fb8b24;
    color: #f0f0f0;
    padding: .5em;
    border-radius: 1em;
    border: none;
    cursor: pointer;
}

.voltar-principal button:hover{
    background-color: #f36f0b;
}

.voltar-principal span{
    background-color: #333;
    color: #f0f0f0;
    padding: .3em;
    border-radius: 1em;
    font-size: 15px;
}

#pontos-prestigio-container {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
    position: relative;
    z-index: 2;
    color: #fff;
}

#habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.habilidade button {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 1em;
    cursor: pointer;
    border: 2px solid #0056b3;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
    transition: border-color 0.3s;
}

.habilidade button:hover {
    border-color: #0056b3;
}

#info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: none;
    z-index: 3; /* Certificar-se de que está acima dos outros elementos */
}

.habilidade img {
    width: 100%;
    height: 100%;
    display: block;
}

button:hover {
    border-color: #fb8b24;
}

.habilidade img{
    width: 100%;
    height: 100%;
}

/* Fundo animado de galáxia e estrelas */
.stars, .stars2, .stars3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 0; /* Certificar-se de que o fundo está atrás dos elementos */
    pointer-events: none; /* Garantir que não interfira com os cliques */
}

.stars {
    background: url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
    animation: animStar 50s linear infinite;
}

.stars2 {
    background: url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
    animation: animStar 100s linear infinite;
    opacity: 0.5;
}

.stars3 {
    background: url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
    animation: animStar 150s linear infinite;
    opacity: 0.2;
}

@keyframes animStar {
    from { background-position: 0 0; }
    to { background-position: 0 -1000px; }
}