.container-avancos {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 30%;
    padding: 1em;
    overflow-y: auto;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

@media (max-width: 768px) {}