* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/21279.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.container-barra-progresso {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .5em;
}

.container-barra-progresso #barra-progresso {
    background: rgb(33, 131, 128);
    background: linear-gradient(90deg, rgba(33, 131, 128, 1) 35%, rgba(115, 210, 222, 1) 100%);
    width: 0%;
    height: 100%;
    transition: .2s ease all;
}

.game {
    position: relative;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.container-planeta-info {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 850;
}

.container-planeta-info #info-planeta {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: #0077b6;
    border-radius: 1em;
}

.container-planeta-info #btn-info-planeta {
    position: absolute;
    top: -5%;
    right: -5%;
    font-size: 1.5em;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    background-color: #c1121f;
    border: 2px solid #780000;
    color: #fff;
    cursor: pointer;
    transition: .2s ease all;
}

.container-planeta-info #btn-info-planeta:hover {
    background-color: #780000;
    transform: scale(1.1);
}

.container-planeta-info #info-planeta #nome-info-planeta {
    font-size: 1.5em;
    margin-bottom: 1em;
    background-color: #2a4d5f;
    color: #fff;
    padding: .5em;
    border-radius: .5em;
}

.container-planeta-info #info-planeta .descricao-planeta {
    margin-top: 1em;
    color: #fff;
    background-color: #1e3747;
    padding: .5em;
    border-radius: .5em;
}

.container-planeta-info #info-planeta img {
    width: 15em;
}

.container-ovni {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container-ovni #btn-ovni {
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    left: -50%;
    z-index: 600;
    user-select: none;
    transition: .2s ease all;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.container-ovni #btn-ovni img {
    height: 10em;
}

.ganho-ovni {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 2em;
    font-weight: bold;
    color: #858ae3;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
    z-index: 550;
    animation: ganhoSubir 2s forwards;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    pointer-events: none;
}

@keyframes ganhoSubir {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes ovniFly1 {
    0% {
        left: -50%;
    }

    25% {
        left: 25%;
        top: 30%;
    }

    50% {
        left: 50%;
    }

    75% {
        top: 70%;
        left: 80%;
    }

    90% {
        left: 90%;
        top: 30%;
    }

    100% {
        left: 50%;
        top: -50%;
    }
}

@keyframes ovniFly2 {
    0% {
        left: 50%;
        top: 100%;
    }

    25% {
        top: 80%;
    }

    50% {
        left: 30%;
        top: 50%;
    }

    75% {
        top: 70%;
        left: 80%;
    }

    90% {
        left: 90%;
        top: 30%;
    }

    100% {
        left: 50%;
        top: -50%;
    }
}

#btn-click {
    display: flex;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    height: 50%;
    transition: 1s ease all;
    position: relative;
    z-index: 500;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    border-radius: 50%;
}

#btn-click img {
    height: 100%;
    width: 100%;
    transition: 0.3s ease all;
    filter: drop-shadow(0 0 0.75rem #000);
    animation: spin 30s linear infinite;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

@keyframes subir {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-200px);
        opacity: 0;
    }
}

@keyframes click {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    75% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.valor-clique {
    position: absolute;
    color: #fff;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    border-radius: 1em;
    z-index: 500;
    opacity: 0;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    pointer-events: none;
}

/* Btn bug */
#btn-reset {
    position: absolute;
    top: 2%;
    right: 86%;
    border: none;
    background-color: #c1121f;
    color: #fff;
    border-radius: .5em;
    padding: .5em;
    border: 2px solid #780000;
    cursor: pointer;
    z-index: 800;
}

/* DEBUG */
#btn-debug {
    position: absolute;
    top: 2%;
    right: 94%;
    border: none;
    background-color: #e4b61a;
    border-radius: .5em;
    padding: .5em;
    border: 2px solid #6d6009;
    cursor: pointer;
    z-index: 800;
}

.debug-menu {
    display: none;
}

.debug-menu .buttons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 1em;
    height: 20em;
    width: 30em;
    overflow: hidden;
    z-index: 1000;
}

.debug-menu .buttons #fechar {
    position: absolute;
    right: 1em;
    top: 1em;
    background-color: rgb(160, 27, 27);
    padding: .5em;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    color: #fff;
    border: 2px solid rgb(102, 18, 18);
    cursor: pointer;
}

.debug-menu .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background-color: #000000c0;
}

#btn-hack {
    padding: .5em;
    border-radius: .5em;
    border: 2px solid #6d6009;
    font-size: 1.2em;
    cursor: pointer;
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 0.5em;
    border-radius: 1em;
    width: 20em;
    text-align: center;
    font-size: 1.5em;
}

.info p {
    display: flex;
    gap: .5em;
}

.info span {
    font-weight: bold;
}

.container-buff-planeta {
    display: none;
    flex-direction: column;
    position: absolute;
    right: -5%;
    bottom: -10%;
    font-size: 15px;
    background-color: #0077b6;
    border: 2px solid #03045e;
    border-radius: .5em;
    padding: .2em .3em;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 1em 0;
    position: absolute;
    right: 30%;
    bottom: 0%;
    border-right: 5px solid #000;
    height: 100%;
    z-index: 800;
}

.menu .btn-menu {
    background-color: #393939;
    color: #fff;
    border: none;
    font-size: 1.5em;
    padding: 1em .3em;
    border-radius: .5em 0 0 .5em;
    cursor: pointer;
}

.menu #menu-poderes {
    background-color: #000;
}

.desativado {
    transform: translateX(100%);
}

/* Poderes */
.container-poderes {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 30%;
    padding: 1em;
    overflow-y: auto;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.container-poderes button {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    background-color: #356a85;
    border: 2px solid #1e3747;
    width: 100%;
    min-height: 5em;
    max-height: 5em;
    border-radius: 1em;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.inativo {
    opacity: .5;
    pointer-events: none;
}

.hide {
    position: relative;
}

.hide::after {
    content: "???";
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.container-poderes button:hover {
    background-color: #2a4d5f;
}

.container-poderes button:active {
    background-color: #1e3747;
    transform: scale(1.1);
}

.container-poderes button img {
    margin-top: 0.5em;
    width: 25%;
}

.container-poderes .count-poder {
    margin: 0 .5em;
    border-radius: 1em;
}

.container-poderes .count-poder p {
    font-size: 2.3em;
    font-weight: bold;
    color: white;
    text-shadow:
        -2px -2px 0 #1e3747,
        2px -2px 0 #1e3747,
        -2px 2px 0 #1e3747,
        2px 2px 0 #1e3747;
}

.container-poderes button .container-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    pointer-events: none;
}

.container-poderes button .container-info .baixo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.container-poderes button .container-info .nome {
    font-size: 1.5em;
    font-weight: bold;
}

/* Upgrades */
.container-upgrades {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 30%;
    padding: 1em;
    overflow-y: auto;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.container-upgrades button {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    background-color: #edf2f4;
    border: 2px solid #8d99ae;
    width: 100%;
    min-height: 5em;
    max-height: 5em;
    border-radius: 1em;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.lvl2 {
    background-color: #7b2cbf !important;
    border: 2px solid #3c096c !important;
}

.lvl2 .container-info {
    background-color: #3c096c !important;
}

.lvl3 {
    background-color: #fbe134 !important;
    border: 2px solid #e4b61a !important;
}

.lvl3 .container-info {
    background-color: #e4b61a !important;
}

.container-upgrades button:hover {
    background-color: #1f2029;
}

.container-upgrades button:active {
    background-color: #001219;
    transform: scale(1.1);
}

.container-upgrades button img {
    margin-top: .5em;
    width: 30%;
}

.container-upgrades button .container-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2b2d42;
    padding: 0 .5em;
    height: 100%;
    width: 65%;
    border-radius: 1em;
}

.container-upgrades button .container-info .baixo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.container-upgrades button .container-info .nome {
    font-size: 1.5em;
    font-weight: bold;
}

.container-poderes,
.container-upgrades {
    z-index: 800;
}

@media (max-width: 768px) {
    .game {
        width: 100%;
        height: 60%;
        justify-content: flex-start;
        padding-top: 1em;
    }

    .container-ovni {
        width: 100%;
        height: 100%;
    }

    .container-ovni #btn-ovni img {
        height: 8em;
    }

    @keyframes ovniFly2 {
        0% {
            left: 20%;
            top: 100%;
        }

        25% {
            top: 80%;
        }

        50% {
            left: 30%;
            top: 50%;
        }

        75% {
            top: 70%;
            left: 50%;
        }

        90% {
            left: 30%;
            top: 30%;
        }

        100% {
            left: 50%;
            top: -50%;
        }
    }

    .menu {
        flex-direction: row;
        padding: 0 1em;
        right: 0%;
        bottom: 40%;
        border: none;
        border-bottom: 5px solid #000;
        height: auto;
        width: 100%;
    }

    .menu .btn-menu {
        border-radius: .5em .5em 0 0;
        padding: .2em 1em;
    }

    .container-poderes,
    .container-upgrades {
        width: 100%;
        height: 40%;
        top: 60%;
        border: none;
    }

    .container-upgrades button .container-info .nome {
        font-size: 1.1em;
    }

    .container-poderes button .container-info {
        padding: .3em;
    }

    .container-poderes button .container-info .nome {
        font-size: 1.2em;
    }

    .container-poderes button img,
    .container-upgrades button img {
        width: 25%;
    }

    .container-poderes .count-upgrade p {
        font-size: 2em;
    }

    .desativado {
        transform: translateY(100%);
    }

    #btn-click {
        height: 50%;
    }

    #btn-click img {
        height: 100%;
    }

    .valor-clique {
        width: auto;
        font-size: 1.4em;
    }

    .info {
        width: 75%;
        font-size: 1.2em;
    }

    #btn-debug {
        top: 85%;
        right: 1%;
    }

    #btn-reset {
        top: 74%;
        right: 1%;
    }

    .debug-menu .buttons {
        width: 90%;
    }
}